
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#index{
    position: absolute;
    top: 0px;
    height: 65px;
    width: 100%;
    background-color: #3c3c3c;
}

#btLoginCabecalho{
    position: relative;
    top: -50px;
    left: 70%;
}
btLoginCabecalho a{
    font-size: 18px;
}

#formularioIndex{
    top: -30px;
    left: 35%;
}
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#map{
    top: 65px;
    height: 600px;
    width: 70%;
}
#conteudoLateral{
    position: absolute;
    top: 65px;
    left: 70%;
    height: 93%;
    width: 30%;
    background-color: #d73535;
}
#conteudoLateral h2{
    margin-top: 50px;
    color: #f9f2f4; 
    font-weight: bold;
    padding-left: 40px;
}
#btMarcarFoco{
    position: relative;
    margin-top: 45px;
    margin-left: 20%;
    font-size: 20px; 
    font-weight: bold;
}
footer{

}

#index .dropdown :visited{
    background-color: #3c3c3c;
}
#index .dropdown :hover{
    color: #f9f2f4;
}
#btCadastro a :hover{
    background-color: #3c3c3c;
}

#imagemIndex{
    position: relative;
    background-image: url("../imagens/mapa-sp.png");
    top: 23px;
    left: 0px;
    height: 600px;
    width: 943px;
}
#imagemIndex a{
    position: relative;
    margin-top: 28%;
    margin-left: 30%;
}
#legenda{
    position: relative;
    height: 30%;
    width: 53%;
    margin-top: 50px;
    margin-left: 100px;
    border: 1px solid;
    border-radius: 3%;
    background-color: #f2f0d5;
}
#legenda img{
    margin-left: 30px;
}
#legenda h4{
    text-align: center;
}

#btMapaDeCalor{
    position: relative;
    margin-top: 45px;
    margin-left: 45px;
    font-size: 16px; 
}
#btMapaNormal{
    margin-top: 45px;
    margin-left: 40px;
    font-size: 16px; 
}