/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/01/2016, 16:44:50
    Author     : Marcelo Augusto
*/


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#index{
    position: absolute;
    top: 0px;
    height: 65px;
    width: 100%;
    background-color: #3c3c3c;
}

#btLoginCabecalho{
    position: relative;
    top: -50px;
    left: 70%;
}
#btLoginCabecalho a{
    font-size: 18px;
}
#conteudo-superior{
    margin-top: 90px;
    margin-left: 5%;
}
#map{
    top: 20px;
    height: 350px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.controls {
    position: relative;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#informacoes-extras{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}
footer{
    margin-bottom: 0px;
    height: 65px;
    width: 100%;
    background-color: #3c3c3c;
}
footer b{
    margin-left: 43%;
    font-family: inherit;
    font-size: 15px;
    color: #f9f2f4; 
}